<div class="articles">
    <div class="wrap">
        <div class="articles-list">

            <div class="articles-block articles-block_1">
                <div class="articles-content">
                    <p class="articles-content__title">Менеджер в гостинице или, как его еще
                    называют, управляющий</p>
                    
                    <div class="articles-content__information">
                        <div class="articles-content__date">
                            <p><i class="fas fa-clock"></i><span class="articles-content__date_desktop">12 сентября, 2018</span><span class="articles-content__date_mobile">12.09.2018</span></p>
                        </div>

                        <div class="articles-content__stat">
                            <a class="articles-content__comments articles-content__date"><i class="fas fa-comment"></i>25</a>
                            <a class="articles-content__views articles-content__date"><i class="fas fa-eye"></i>25</a>
                        </div>
                    </div>   
                </div>
            </div> 

            <div class="articles-block articles-block_2">
                <div class="articles-content">
                    <p class="articles-content__title">Менеджер в гостинице или, как его еще
                    называют, управляющий</p>
                    
                    <div class="articles-content__information">
                        <div class="articles-content__date">
                            <p><i class="fas fa-clock"></i><span class="articles-content__date_desktop">12 сентября, 2018</span><span class="articles-content__date_mobile">12.09.2018</span></p>
                        </div>

                        <div class="articles-content__stat">
                            <a class="articles-content__comments articles-content__date"><i class="fas fa-comment"></i>25</a>
                            <a class="articles-content__views articles-content__date"><i class="fas fa-eye"></i>25</a>
                        </div>
                    </div>     
                </div>
            </div> 

            <div class="articles-block articles-block_3">
                <div class="articles-content">
                    <p class="articles-content__title">Менеджер в гостинице или, как его еще
                    называют, управляющий</p>
                    
                    <div class="articles-content__information">
                        <div class="articles-content__date">
                            <p><i class="fas fa-clock"></i><span class="articles-content__date_desktop">12 сентября, 2018</span><span class="articles-content__date_mobile">12.09.2018</span></p>
                        </div>

                        <div class="articles-content__stat">
                            <a class="articles-content__comments articles-content__date"><i class="fas fa-comment"></i>25</a>
                            <a class="articles-content__views articles-content__date"><i class="fas fa-eye"></i>25</a>
                        </div>
                    </div>     
                </div>
            </div> 

            <div class="articles-block articles-block_4">
                <div class="articles-content">
                    <p class="articles-content__title">Менеджер в гостинице или, как его еще
                    называют, управляющий</p>
                    
                    <div class="articles-content__information">
                        <div class="articles-content__date">
                            <p><i class="fas fa-clock"></i><span class="articles-content__date_desktop">12 сентября, 2018</span><span class="articles-content__date_mobile">12.09.2018</span></p>
                        </div>

                        <div class="articles-content__stat">
                            <a class="articles-content__comments articles-content__date"><i class="fas fa-comment"></i>25</a>
                            <a class="articles-content__views articles-content__date"><i class="fas fa-eye"></i>25</a>
                        </div>
                    </div>     
                </div>
            </div> 

        </div>

        <div class="product-list-expend">
            <button class="btn_expend-articles btn_expend btn btn_gradient">
                Показать еще
            </button>
        </div>
    </div>
</div>