<div class="articles">
    <div class="wrap">
        <div class="articles-list">

            <div class="articles-block articles-block_1">
                <div class="articles-content">
                    <p class="articles-content__title">Менеджер в гостинице или, как его еще<br>
                    называют, управляющий</p>
                    
                    <div class="articles-content__information">
                        <div class="articles-content__date">
                            <p class="articles-content__date">12 сентября, 2018</p>
                        </div>

                        <div class="articles-content__stat">
                            <a class="articles-content__comments articles-content__date">25</a>
                            <a class="articles-content__views articles-content__date">25</a>
                        </div>
                    </div>   
                </div>
            </div> 

            <div class="articles-block articles-block_2">
                <div class="articles-content">
                    <p class="articles-content__title">Менеджер в гостинице или, как его еще<br>
                    называют, управляющий</p>
                    
                    <div class="articles-content__information">
                        <div class="articles-content__date">
                            <p class="articles-content__date">12 сентября, 2018</p>
                        </div>

                        <div class="articles-content__stat">
                            <a class="articles-content__comments articles-content__date">25</a>
                            <a class="articles-content__views articles-content__date">25</a>
                        </div>
                    </div>   
                </div>
            </div> 

        </div>

        <div class="product-list-expend">
            <button class="btn_expend btn btn_gradient">
                Показать еще
            </button>
        </div>
    </div>
</div>