<div class="banners"> 
    <div class="banners-slider">
        
        <div class="banners-block">
            <div class="banners-content__pict">
                <img src="img/banner-pct.png" alt="">
            </div>
            <div class="banners-content">
                <div class="banners-content-stock">
                    <svg class="icon icon__hot icon__hot">
                        <use xlink:href="#icon-hot"></use>
                    </svg>
                    <p class="banners-content-stock__text">Только в августе</p>
                </div>
                <h4 class="banners-content__information">Распродажа Техники Apple Скидки До 70%</h4>
                <button class="btn_to-shopping btn btn_gradient"> Приступить к покупкам  
                    <svg class="icon arrow-trans">
                        <use xlink:href="#icon-right-arrow-white"></use>
                    </svg>
                </button>
            </div>  
        </div>

        <div class="banners-block">
            <div class="banners-content__pict">
                <img src="img/banner-pct.png" alt="">
            </div>
            <div class="banners-content">
                <div class="banners-content-stock">
                    <svg class="icon icon__hot">
                        <use xlink:href="#icon-hot"></use>
                    </svg>
                    <p class="banners-content-stock__text">Только в августе</p>
                </div>
                <h4 class="banners-content__information">Распродажа Техники Apple Скидки До 70%</h4>
                <button class="btn_to-shopping btn btn_gradient"> Приступить к покупкам  
                    <svg class="icon arrow-trans">
                        <use xlink:href="#icon-right-arrow-white"></use>
                    </svg>
                </button>
                
            </div>  
        </div>
    </div>
</div>