<div class="basket">
    <div class="wrap">
        <div class="basket__title">
            <h2 class="catalog__title">В корзине <span>3</span> товара</h2>
        </div>
        <div class="basket-inner">
            <div class="basket-list">
                <div class="basket-product">
                    <div class="basket-product-inf">
                        <div class="basket-product-inf__img">
                            <img src="img/tv.png" alt="">
                        </div>
                                
                        <div class="basket-product-inf__description">
                            <p class="basket-product-inf__name">Телевизор Витязь 50LU1207</p>
                            <dl class="n-product-spec">
                                <dt class="n-product-spec__name">
                                    <span class="n-product-spec__name-inner">Цвет</span>
                                </dt>
                                <dd class="n-product-spec__value">
                                    <span class="n-product-spec__value-inner">Черный</span>
                                </dd>
                            </dl>
                            <dl class="n-product-spec">
                                <dt class="n-product-spec__name">
                                    <span class="n-product-spec__name-inner">Персональные особенности</span>
                                </dt>
                                <dd class="n-product-spec__value">
                                    <span class="n-product-spec__value-inner">Full HD</span>
                                </dd>
                            </dl>

                            <button class="btn btn_micro btn-accessories">Подобрать аксессуары</button>
                        </div>
                        
                    </div>
                    
                    <div class="basket-product-action">
                        <table class="basket-product-action__table">
                            <tr>
                                <th style="text-align: left"><p class="basket-product-action__title">Кол-во</p></th>
                                <th style="text-align: left"><p class="basket-product-action__title">Цена</p></th>
                                <th class="basket-product-action__trash"><i class="fas fa-trash-alt"></i></th>
                                
                            </tr>
                            <tr>
                                <td>
                                    <form>
                                        <div class="btn-quantity">
                                            <input type="button" id="sub2" class="sub" value='-'/>
                                            <input type="number" id="number" value="1" min="1" max="10"/>
                                            <input type="button" id="add2" class="add" value='+'/>
                                        </div>
                                    </form>
                                </td>
                                <td class="basket-product-action__price">456 980 ₽
                                    <div class="price-for-one">12 020 ₽ <span>за штуку</span></div>
                                </td>
                                <td class="basket-product-action__like"><i class="fas fa-heart"></i></td>
                           </tr>
                          </table>
                    </div>
                </div>

                <div class="basket-product">
                    <div class="basket-product-inf">
                        <div class="basket-product-inf__img">
                            <img src="img/tv.png" alt="">
                        </div>
                                
                        <div class="basket-product-inf__description">
                            <p class="basket-product-inf__name">Телевизор Витязь 50LU1207</p>
                            <dl class="n-product-spec">
                                <dt class="n-product-spec__name">
                                    <span class="n-product-spec__name-inner">Цвет</span>
                                </dt>
                                <dd class="n-product-spec__value">
                                    <span class="n-product-spec__value-inner">Черный</span>
                                </dd>
                            </dl>
                            <dl class="n-product-spec">
                                <dt class="n-product-spec__name">
                                    <span class="n-product-spec__name-inner">Персональные особенности</span>
                                </dt>
                                <dd class="n-product-spec__value">
                                    <span class="n-product-spec__value-inner">Full HD</span>
                                </dd>
                            </dl>

                            <button class="btn btn_micro btn-accessories">Подобрать аксессуары</button>
                        </div>
                        
                    </div>
                    
                    <div class="basket-product-action">
                        <table class="basket-product-action__table">
                            <tr>
                                <th style="text-align: left"><p class="basket-product-action__title">Кол-во</p></th>
                                <th style="text-align: left"><p class="basket-product-action__title">Цена</p></th>
                                <th class="basket-product-action__trash"><i class="fas fa-trash-alt"></i></th>
                                
                            </tr>
                            <tr>
                                <td>
                                    <form>
                                        <div class="btn-quantity">
                                            <input type="button" id="sub2" class="sub" value='-'/>
                                            <input type="number" id="number" value="1" min="1" max="10"/>
                                            <input type="button" id="add2" class="add" value='+'/>
                                        </div>
                                    </form>
                                </td>
                                <td class="basket-product-action__price">456 980 ₽
                                    <div class="price-for-one">12 020 ₽ <span>за штуку</span></div>
                                </td>
                                <td class="basket-product-action__like"><i class="fas fa-heart"></i></td>
                           </tr>
                          </table>
                    </div>
                </div>

                <div class="basket-product">
                    <div class="basket-product-inf">
                        <div class="basket-product-inf__img">
                            <img src="img/tv.png" alt="">
                        </div>
                                
                        <div class="basket-product-inf__description">
                            <p class="basket-product-inf__name">Телевизор Витязь 50LU1207</p>
                            <dl class="n-product-spec">
                                <dt class="n-product-spec__name">
                                    <span class="n-product-spec__name-inner">Цвет</span>
                                </dt>
                                <dd class="n-product-spec__value">
                                    <span class="n-product-spec__value-inner">Черный</span>
                                </dd>
                            </dl>
                            <dl class="n-product-spec">
                                <dt class="n-product-spec__name">
                                    <span class="n-product-spec__name-inner">Персональные особенности</span>
                                </dt>
                                <dd class="n-product-spec__value">
                                    <span class="n-product-spec__value-inner">Full HD</span>
                                </dd>
                            </dl>

                            <button class="btn btn_micro btn-accessories">Подобрать аксессуары</button>
                        </div>
                        
                    </div>
                    
                    <div class="basket-product-action">
                        <table class="basket-product-action__table">
                            <tr>
                                <th style="text-align: left"><p class="basket-product-action__title">Кол-во</p></th>
                                <th style="text-align: left"><p class="basket-product-action__title">Цена</p></th>
                                <th class="basket-product-action__trash"><i class="fas fa-trash-alt"></i></th>
                                
                            </tr>
                            <tr>
                                <td>
                                    <form>
                                        <div class="btn-quantity">
                                            <input type="button" id="sub2" class="sub" value='-'/>
                                            <input type="number" id="number" value="1" min="1" max="10"/>
                                            <input type="button" id="add2" class="add" value='+'/>
                                        </div>
                                    </form>
                                </td>
                                <td class="basket-product-action__price">456 980 ₽
                                    <div class="price-for-one">12 020 ₽ <span>за штуку</span></div>
                                </td>
                                <td class="basket-product-action__like"><i class="fas fa-heart"></i></td>
                           </tr>
                          </table>
                    </div>
                </div>
            </div>
    
            <div class="basket-total">
                <p class="basket-total__title">Ваш заказ</p>
                <div class="basket-total__general">
                    <div class="basket-total__all">
                        <p class="basket-total__text">Всего товаров</p>
                        <p style="font-weight: bold;">12</p>
                    </div>
                    <div class="basket-total__all">
                        <p class="basket-total__text">Сумма</p>
                        <p style="font-weight: bold;">12 456 ₽</p>
                    </div>
                </div>

                <div class="basket-total__promo">
                    <form action="" class="search-form__basket">
                        <input id="request__name" type="text" name="request__name" placeholder="Введите промокод...">
                        <button class="search-form__btn search-form__btn_dark btn_gradient" type="button">Применить</button>
                    </form>
                </div>
                
                <div class="basket-total__payment">
                    <div class="basket-total__all basket-total__all_indent">
                        <div class="icon-sale">Скидка 23%</div>
                        <p class="basket-total__text_old-price"><s>220 456 ₽</s></p>
                    </div>
                    <div class="basket-total__all basket-total__all_indent">
                        <p class="basket-total__text">К оплате</p>
                        <p class="basket-total__text_new-price">120 456 ₽</p>
                    </div>
                </div>

                <button class="btn-checkout btn btn_gradient">Оформить заказ</button>

            </div>

            
        </div>
    </div>  

    <div class="similar-products">
        <div class="wrap">
            <div class="similar-products__title">
                <h3 class="categories-head__title">Похожие товары</h3>
            </div>     
        </div>
        <div class="product-list product-slider">

            <div class="product-block 1">
                <div class="product-items">
                    <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                    <div class="product-items__information">
                        <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                        <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                    </div>

                    <div class="product-items__status">
                        <fieldset class="rating">
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                                <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>
                        <p class="product-items__availability">&bull; В наличии</p>
                    </div>

                    <p class="product-items__old-price"><del>640 980 ₽</del></p>
                    <p class="product-items__new-price">456 980 ₽</p>

                    <div class="buyorlike">
                        <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                        <fieldset class="like">
                            <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="product-block 2">
                <div class="product-items">
                    <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                    <div class="product-items__information">
                        <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                        <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                    </div>

                    <div class="product-items__status">
                        <fieldset class="rating">
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>

                        <p class="product-items__availability">&bull; В наличии</p>
                    </div>

                    <p class="product-items__old-price"><del>640 980 ₽</del></p>
                    <p class="product-items__new-price">456 980 ₽</p>

                    <div class="buyorlike">
                        <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                        <fieldset class="like">
                            <input class="like__icon" type="checkbox"  value="1" aria-label="like"  checked>  
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="product-block 3">
                <div class="product-items">
                    <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                    <div class="product-items__information">
                        <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                        <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                    </div>

                    <div class="product-items__status">
                        <fieldset class="rating">
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>

                        <p class="product-items__availability">&bull; В наличии</p>
                    </div>

                    <p class="product-items__old-price"><del>640 980 ₽</del></p>
                    <p class="product-items__new-price">456 980 ₽</p>

                    <div class="buyorlike">
                        <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                        <fieldset class="like">
                            <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                        </fieldset>                      
                    </div>
                </div>
            </div>

            <div class="product-block 4">
                <div class="product-items">
                    <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                    <div class="product-items__information">
                        <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                        <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                    </div>

                    <div class="product-items__status">
                        <fieldset class="rating">
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>

                        <p class="product-items__availability">&bull; В наличии</p>
                    </div>

                    <p class="product-items__old-price"><del>640 980 ₽</del></p>
                    <p class="product-items__new-price">456 980 ₽</p>

                    <div class="buyorlike">
                        <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                        <fieldset class="like">
                            <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="product-block 5">
                <div class="product-items">
                    <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                    <div class="product-items__information">
                        <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                        <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                    </div>

                    <div class="product-items__status">
                        <fieldset class="rating">
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>

                        <p class="product-items__availability">&bull; В наличии</p>
                    </div>

                    <p class="product-items__old-price"><del>640 980 ₽</del></p>
                    <p class="product-items__new-price">456 980 ₽</p>

                    <div class="buyorlike">
                        <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                        <fieldset class="like">
                            <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                        </fieldset>                       
                    </div>
                </div>
            </div>

            <div class="product-block 6">
                <div class="product-items">
                    <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                    <div class="product-items__information">
                        <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                        <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                    </div>

                    <div class="product-items__status">
                        <fieldset class="rating">
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>

                        <p class="product-items__availability">&bull; В наличии</p>
                    </div>

                    <p class="product-items__old-price"><del>640 980 ₽</del></p>
                    <p class="product-items__new-price">456 980 ₽</p>

                    <div class="buyorlike">
                        <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                        <fieldset class="like">
                            <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                        </fieldset>                       
                    </div>
                </div>
            </div>

            <div class="product-block 7">
                <div class="product-items">
                    <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                    <div class="product-items__information">
                        <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                        <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                    </div>

                    <div class="product-items__status">
                        <fieldset class="rating">
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>

                        <p class="product-items__availability">&bull; В наличии</p>
                    </div>

                    <p class="product-items__old-price"><del>640 980 ₽</del></p>
                    <p class="product-items__new-price">456 980 ₽</p>

                    <div class="buyorlike">
                        <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                        <fieldset class="like">
                            <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                        </fieldset>                      
                    </div>                  
                </div>
            </div>

            <div class="product-block 8">
                <div class="product-items">
                    <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                    <div class="product-items__information">
                        <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                        <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                    </div>

                    <div class="product-items__status">
                        <fieldset class="rating">
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>

                        <p class="product-items__availability">&bull; В наличии</p>
                    </div>

                    <p class="product-items__old-price"><del>640 980 ₽</del></p>
                    <p class="product-items__new-price">456 980 ₽</p>

                    <div class="buyorlike">
                        <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                        <fieldset class="like">
                            <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                        </fieldset>                        
                    </div>
                </div>
            </div>

            <div class="product-block 9">
                <div class="product-items">
                    <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                    <div class="product-items__information">
                        <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                        <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                    </div>
                    <div class="product-items__status">
                        <fieldset class="rating">
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>
                        <p class="product-items__availability">&bull; В наличии</p>
                    </div>

                    <p class="product-items__old-price"><del>640 980 ₽</del></p>
                    <p class="product-items__new-price">456 980 ₽</p>

                    <div class="buyorlike">
                        <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                        <fieldset class="like">
                            <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="product-block 10">
                <div class="product-items">
                    <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                    <div class="product-items__information">
                        <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                        <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                    </div>

                    <div class="product-items__status">
                        <fieldset class="rating">
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>

                        <p class="product-items__availability">&bull; В наличии</p>
                    </div>

                    <p class="product-items__old-price"><del>640 980 ₽</del></p>
                    <p class="product-items__new-price">456 980 ₽</p>

                    <div class="buyorlike">
                        <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                        <fieldset class="like">
                            <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                        </fieldset>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>