<div class="catalog">
    <div class="wrap">
        <h2 class="catalog__title">Телевизоры</h2>
        <div class="catalog-block">

            <!-- sidebar filter -->
            <div class="filter">

                <div class="filter-availability">
                    <div class="tab">
                        <div class="tab-header">
                            <div class="tab__title"><p>Наличие</p></div>
                            <div class="collapse">
                                <a href="javascript:;" class="collapse-btn">
                                    <span></span>
                                </a>
                            </div>
                        </div>

                        <div class="tab-content">
                            <form action="">
                              <div class="custom-radio">
                                  <input class="radio" id="radio-1" type="radio" name="radio" required="" checked>
                                  <label for="radio-1">Во всех магазинах</label>
                          
                                  <input class="radio" id="radio-2" type="radio" name="radio" required="">
                                  <label for="radio-2">Во всех магазинах</label>
                              </div>
                            </form>
                        </div>
                    </div>
                    
                </div>

                <div class="filter-model">

                    <div class="tab">
                        <div class="tab-header">
                            <div class="tab__title"><p>Марка</p></div>
                            <div class="collapse">
                                <a href="javascript:;" class="collapse-btn">
                                    <span></span>
                                </a>
                            </div>
                        </div>

                        <div class="tab-content">
                          <form action="" class="search-form__content_filter">
                            <input type="text" class="search-form__input search-form__input_filter" placeholder="Поиск...">
                          </form>
                      
                          <form action="">
                            <div class="custom-checkbox">
                                <input id="cbx1" class="inp-cbx" type='checkbox' style='display: none'>
                                <label class="cbx" for='cbx1'>
                                    <span>
                                    <svg width='9px' height='8px' viewbox='0 0 12 10'>
                                        <polyline points='1.5 6 4.5 9 10.5 1' />
                                    </svg>
                                    </span>LG
                                </label>                       
                        
                                <input id="cbx2" class="inp-cbx" type='checkbox' style='display: none'>
                                <label class="cbx" for='cbx2'>
                                    <span>
                                    <svg width='9px' height='8px' viewbox='0 0 12 10'>
                                        <polyline points='1.5 6 4.5 9 10.5 1' />
                                    </svg>
                                    </span>Samsung 
                                </label>

                                <input id="cbx3" class="inp-cbx" type='checkbox' style='display: none'>
                                <label class="cbx" for='cbx3'>
                                    <span>
                                    <svg width='9px' height='8px' viewbox='0 0 12 10'>
                                        <polyline points='1.5 6 4.5 9 10.5 1' />
                                    </svg>
                                    </span>Huawei 
                                </label>
                                
                                <input id="cbx4" class="inp-cbx" type='checkbox' style='display: none'>
                                <label class="cbx" for='cbx4'>
                                    <span>
                                    <svg width='9px' height='8px' viewbox='0 0 12 10'>
                                        <polyline points='1.5 6 4.5 9 10.5 1' />
                                    </svg>
                                    </span>Meizu 
                                </label>

                                <input id="cbx5" class="inp-cbx" type='checkbox' style='display: none'>
                                <label class="cbx" for='cbx5'>
                                    <span>
                                    <svg width='9px' height='8px' viewbox='0 0 12 10'>
                                        <polyline points='1.5 6 4.5 9 10.5 1' />
                                    </svg>
                                    </span>Apple 
                                </label>
                            </div>
                      
                            <a class="filter__more btn__more">Показать еще<i class="fas fa-chevron-down"></i></a>
                          </form>
                        </div>
                    </div>
                </div>
                <div class="filter-color">
                    <div class="tab">
                        <div class="tab-header">
                            <div class="tab__title"><p>Цвет</p></div>
                            <div class="collapse">
                                <a href="javascript:;" class="collapse-btn">
                                    <span></span>
                                </a>
                            </div>
                        </div>
                        <div class="tab-content">
                          <div class="filter-color__palette">
                            <div class="color-circle color1"></div>
                            <div class="color-circle color2"></div>
                            <div class="color-circle color3"></div>
                            <div class="color-circle color4"></div>

                            <div class="color-circle color1"></div>
                            <div class="color-circle color2"></div>
                            <div class="color-circle color3"></div>
                            <div class="color-circle color4"></div>
                            <div class="color-circle color1"></div>
                            <div class="color-circle color2"></div>
                            <div class="color-circle color3"></div>
                            <div class="color-circle color4"></div>
                          </div>
                          <a class="filter__more btn__more">Показать еще<i class="fas fa-chevron-down"></i></a>
                        </div>
                    </div>
                </div>

                <div class="filter-discount">
                    <div class="tab-header">
                        <div class="tab__title"><p>Скидка</p></div>
                        <div class="collapse">
                            <a href="javascript:;" class="collapse-btn">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="filter-discount-checkbox">
                            <form action="">
                                <input type="checkbox" class="checkbox" id="checkbox" />
                                <label for="checkbox">Показывать только со скидкой</label>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="filter-price">
                    <div class="tab">
                        <div class="tab-header">
                            <div class="tab__title"><p>Ценовой диапазон</p></div>
                            <div class="collapse">
                                <a href="javascript:;" class="collapse-btn">
                                    <span></span>
                                </a>
                            </div>
                        </div>

                        <div class="tab-content">
                            <div class="filter__slider">
                      
                                <div class="table-cell">
                                    <input id="priceMin" type="text" value="25000" class="form-controlL">
                            
                                    <input id="priceMax" type="text" value="35000" class="form-controlR">
                                </div>
                        
                                <div id="filter__range"></div>
                          </div>
                        </div>
                    </div>
                </div>
                

                <div class="filter-delivery">
                    <div class="tab-header">
                        <div class="tab__title"><p>Доставка</p></div>
                        <div class="collapse">
                            <a href="javascript:;" class="collapse-btn">
                                <span></span>
                            </a>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="btn-choice">
                            <div class="btn-tab">
                              <input id="btn-tab-one" type="checkbox" name="tabs">
                              <label for="btn-tab-one">Самовывоз</label>
                              <div class="btn-tab-content">
                                <p><a href="javascript:;">Доставка</a></p>
                                <p><a href="javascript:;">Доставка до подъезда</a></p>    
                              </div>
                            </div>
                        </div>
                    </div>    
                </div>

                <div class="filter-rating">
                    <div class="tab-header">
                        <div class="tab__title"><p>Рейтинг</p></div>
                        <div class="collapse">
                            <a href="javascript:;" class="collapse-btn">
                                <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="tab-content">
                        <form action="">
                            <div class="custom-radio">
                                <input class="radio" id="radio-10" type="radio" name="radio" required="" checked>
                                <label for="radio-10"><i class="fas fa-star orange"></i><i class="fas fa-star orange"></i><i class="fas fa-star orange"></i><i class="fas fa-star orange"></i><i class="fas fa-star orange"></i></label>
                        
                                <input class="radio" id="radio-11" type="radio" name="radio" required="">
                                <label for="radio-11"><i class="fas fa-star orange"></i><i class="fas fa-star orange"></i><i class="fas fa-star orange"></i><i class="fas fa-star orange"></i><i class="fas fa-star"></i></label>
                                
                                <input class="radio" id="radio-12" type="radio" name="radio" required="">
                                <label for="radio-12"><i class="fas fa-star orange"></i><i class="fas fa-star orange"></i><i class="fas fa-star orange"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
    
                                <input class="radio" id="radio-13" type="radio" name="radio" required="">
                                <label for="radio-13"><i class="fas fa-star orange"></i><i class="fas fa-star orange"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
    
                                <input class="radio" id="radio-14" type="radio" name="radio" required="">
                                <label for="radio-14"><i class="fas fa-star orange"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
    
                            </div>
                        </form>
                    </div>
                    
                </div>

                
                


            </div> 
            <!-- /sidebar filter -->


            <!-- content -->
            <div class="catalog-content">

                <div class="categories">
                    <div class="categories-head">
                        <h3 class="categories-head__title">Категории</h3>
                        <button class="categories-more">Смотреть все</button>
                    </div>

                    <div class="categories-list">
                        <div class="categories__items">
                            <div class="categories-circle">
                                <img src="img/kettle.png" alt="" class="scale">
                            </div>
                            <p class="categories__subtitle">Бытовая техника</p>
                        </div>

                        <div class="categories__items">
                            <div class="categories-circle">
                                <img src="img/drill.png" alt="" class="scale">
                            </div>
                            <p class="categories__subtitle">Дрели</p>
                        </div>

                        <div class="categories__items">
                            <div class="categories-circle">
                                <img src="img/bear.png" alt="" class="scale">
                            </div>
                            <p class="categories__subtitle">Игрушки</p>
                        </div>

                        <div class="categories__items">
                            <div class="categories-circle">
                                <img src="img/shampoo.png" alt="" class="scale">
                            </div>
                            <p class="categories__subtitle">Шампуни</p>
                        </div>
                    </div>
                </div>

                <div class="SOMEcategory">
                    <div class="SOMEcategory-head">
                        <div class="SOMEcategory-head__inf">
                            <h3 class="SOMEcategory-head__title">Телевизоры</h3>
                            <h4 class="SOMEcategory-head__number">129 товаров</h4>
                        </div>
                        
                        <div class="SOMEcategory-head__display">
                            <div class="SOMEcategory-head__sorting">
                                <div class="btn-tab">
                                    <input id="btn-sorting-1" type="checkbox" name="tabs">
                                    <label for="btn-sorting-1">Сначала дешевые</label>
                                    <div class="btn-tab-content">
                                      <p><a href="javascript:;">Доставка</a></p>
                                      <p><a href="javascript:;">Доставка до подъезда</a></p>    
                                    </div>
                                </div>
                            </div>

                            <button class="SOMEcategory-head__view">
                                <span class="btn-tbl"></span>
                                <span class="brdr"></span>
                                <span class="btn-tile"></span>
                                <span class="brdr"></span>
                                <span class="btn-list"></span>
                            </button>
                        </div>
                    </div>

                    <div class="SOMEcategory-slider">
                        <div class="product-block 1">
                            <div class="product-items">
                                <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                                <div class="product-items__information">
                                    <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                                    <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                                </div>

                                <div class="product-items__status">
                                    <fieldset class="rating">
                                        <div class="rating__group">
                                            <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                            <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                            <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                                            <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                            <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                                        </div>
                                    </fieldset>

                                    <p class="product-items__availability">&bull; В наличии</p>
                                </div>

                                <p class="product-items__old-price"><del>640 980 ₽</del></p>
                                <p class="product-items__new-price">456 980 ₽</p>

                                <div class="buyorlike">
                                    <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                                    <fieldset class="like">
                                        <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                                    </fieldset>
                                    
                                </div>


                            </div>
                        </div>

                        <div class="product-block 2">
                            <div class="product-items">
                                <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                                <div class="product-items__information">
                                    <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                                    <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                                </div>

                                <div class="product-items__status">
                                    <fieldset class="rating">
                                        <div class="rating__group">
                                            <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                            <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                            <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                            <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                            <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                                        </div>
                                    </fieldset>

                                    <p class="product-items__availability">&bull; В наличии</p>
                                </div>

                                <p class="product-items__old-price"><del>640 980 ₽</del></p>
                                <p class="product-items__new-price">456 980 ₽</p>

                                <div class="buyorlike">
                                    <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                                    <fieldset class="like">
                                        <input class="like__icon" type="checkbox"  value="1" aria-label="like"  checked>  
                                    </fieldset>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="product-block 3">
                            <div class="product-items">
                                <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                                <div class="product-items__information">
                                    <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                                    <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                                </div>

                                <div class="product-items__status">
                                    <fieldset class="rating">
                                        <div class="rating__group">
                                            <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                            <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                            <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                            <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                            <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                                        </div>
                                    </fieldset>

                                    <p class="product-items__availability">&bull; В наличии</p>
                                </div>

                                <p class="product-items__old-price"><del>640 980 ₽</del></p>
                                <p class="product-items__new-price">456 980 ₽</p>

                                <div class="buyorlike">
                                    <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                                    <fieldset class="like">
                                        <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                                    </fieldset>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="product-block 4">
                            <div class="product-items">
                                <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                                <div class="product-items__information">
                                    <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                                    <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                                </div>

                                <div class="product-items__status">
                                    <fieldset class="rating">
                                        <div class="rating__group">
                                            <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                            <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                            <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                            <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                            <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                                        </div>
                                    </fieldset>

                                    <p class="product-items__availability">&bull; В наличии</p>
                                </div>

                                <p class="product-items__old-price"><del>640 980 ₽</del></p>
                                <p class="product-items__new-price">456 980 ₽</p>

                                <div class="buyorlike">
                                    <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                                    <fieldset class="like">
                                        <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                                    </fieldset>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="product-block 5">
                            <div class="product-items">
                                <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                                <div class="product-items__information">
                                    <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                                    <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                                </div>

                                <div class="product-items__status">
                                    <fieldset class="rating">
                                        <div class="rating__group">
                                            <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                            <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                            <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                            <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                            <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                                        </div>
                                    </fieldset>

                                    <p class="product-items__availability">&bull; В наличии</p>
                                </div>

                                <p class="product-items__old-price"><del>640 980 ₽</del></p>
                                <p class="product-items__new-price">456 980 ₽</p>

                                <div class="buyorlike">
                                    <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                                    <fieldset class="like">
                                        <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                                    </fieldset>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="product-block 6">
                            <div class="product-items">
                                <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                                <div class="product-items__information">
                                    <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                                    <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                                </div>

                                <div class="product-items__status">
                                    <fieldset class="rating">
                                        <div class="rating__group">
                                            <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                            <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                            <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                            <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                            <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                                        </div>
                                    </fieldset>

                                    <p class="product-items__availability">&bull; В наличии</p>
                                </div>

                                <p class="product-items__old-price"><del>640 980 ₽</del></p>
                                <p class="product-items__new-price">456 980 ₽</p>

                                <div class="buyorlike">
                                    <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                                    <fieldset class="like">
                                        <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                                    </fieldset>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="product-block 7">
                            <div class="product-items">
                                <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                                <div class="product-items__information">
                                    <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                                    <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                                </div>

                                <div class="product-items__status">
                                    <fieldset class="rating">
                                        <div class="rating__group">
                                            <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                            <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                            <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                            <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                            <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                                        </div>
                                    </fieldset>

                                    <p class="product-items__availability">&bull; В наличии</p>
                                </div>

                                <p class="product-items__old-price"><del>640 980 ₽</del></p>
                                <p class="product-items__new-price">456 980 ₽</p>

                                <div class="buyorlike">
                                    <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                                    <fieldset class="like">
                                        <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                                    </fieldset>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="product-block 8">
                            <div class="product-items">
                                <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                                <div class="product-items__information">
                                    <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                                    <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                                </div>
    
                                <div class="product-items__status">
                                    <fieldset class="rating">
                                        <div class="rating__group">
                                            <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                            <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                            <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                            <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                            <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                                        </div>
                                    </fieldset>
    
                                    <p class="product-items__availability">&bull; В наличии</p>
                                </div>
    
                                <p class="product-items__old-price"><del>640 980 ₽</del></p>
                                <p class="product-items__new-price">456 980 ₽</p>
    
                                <div class="buyorlike">
                                    <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                                    <fieldset class="like">
                                        <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                                    </fieldset>
                                    
                                </div>
                                
    
    
    
                            </div>
                        </div>
    
                        <div class="product-block 9">
                            <div class="product-items">
                                <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                                <div class="product-items__information">
                                    <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                                    <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                                </div>
    
                                <div class="product-items__status">
                                    <fieldset class="rating">
                                        <div class="rating__group">
                                            <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                            <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                            <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                            <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                            <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                                        </div>
                                    </fieldset>
    
                                    <p class="product-items__availability">&bull; В наличии</p>
                                </div>
    
                                <p class="product-items__old-price"><del>640 980 ₽</del></p>
                                <p class="product-items__new-price">456 980 ₽</p>
    
                                <div class="buyorlike">
                                    <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                                    <fieldset class="like">
                                        <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                                    </fieldset>
                                    
                                </div>
    
                            </div>
                        </div>
    
                        <div class="product-block 10">
                            <div class="product-items">
                                <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                                <div class="product-items__information">
                                    <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                                    <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                                </div>
    
                                <div class="product-items__status">
                                    <fieldset class="rating">
                                        <div class="rating__group">
                                            <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                            <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                            <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                            <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                            <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                                        </div>
                                    </fieldset>
    
                                    <p class="product-items__availability">&bull; В наличии</p>
                                </div>
    
                                <p class="product-items__old-price"><del>640 980 ₽</del></p>
                                <p class="product-items__new-price">456 980 ₽</p>
    
                                <div class="buyorlike">
                                    <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                                    <fieldset class="like">
                                        <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                                    </fieldset>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <div class="product-block 11">
                            <div class="product-items">
                                <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                                <div class="product-items__information">
                                    <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                                    <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                                </div>
    
                                <div class="product-items__status">
                                    <fieldset class="rating">
                                        <div class="rating__group">
                                            <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                            <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                            <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                            <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                            <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                                        </div>
                                    </fieldset>
    
                                    <p class="product-items__availability">&bull; В наличии</p>
                                </div>
    
                                <p class="product-items__old-price"><del>640 980 ₽</del></p>
                                <p class="product-items__new-price">456 980 ₽</p>
    
                                <div class="buyorlike">
                                    <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                                    <fieldset class="like">
                                        <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                                    </fieldset>
                                    
                                </div>
                                
    
    
    
                            </div>
                        </div>
    
                        <div class="product-block 12">
                            <div class="product-items">
                                <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                                <div class="product-items__information">
                                    <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                                    <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                                </div>
    
                                <div class="product-items__status">
                                    <fieldset class="rating">
                                        <div class="rating__group">
                                            <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                            <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                            <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                            <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                            <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                                        </div>
                                    </fieldset>
    
                                    <p class="product-items__availability">&bull; В наличии</p>
                                </div>
    
                                <p class="product-items__old-price"><del>640 980 ₽</del></p>
                                <p class="product-items__new-price">456 980 ₽</p>
    
                                <div class="buyorlike">
                                    <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                                    <fieldset class="like">
                                        <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                                    </fieldset>
                                    
                                </div>
    
                            </div>
                        </div>
    
                        <div class="product-block 13">
                            <div class="product-items">
                                <img src="img/tv.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                                <div class="product-items__information">
                                    <p class="product-items__information-title">Телевизор Витязь 50LU1207</p>
                                    <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
                                </div>
    
                                <div class="product-items__status">
                                    <fieldset class="rating">
                                        <div class="rating__group">
                                            <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                            <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                            <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
                                            <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                            <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                                        </div>
                                    </fieldset>
    
                                    <p class="product-items__availability">&bull; В наличии</p>
                                </div>
    
                                <p class="product-items__old-price"><del>640 980 ₽</del></p>
                                <p class="product-items__new-price">456 980 ₽</p>
    
                                <div class="buyorlike">
                                    <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                                    <fieldset class="like">
                                        <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                                    </fieldset>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /content -->
        </div>
    </div>
</div>