<div class="features bg-grey">
    <div class="wrap">
        <h3 class="intro-title">Преимущества нашего магазина</h3>

        <div class="features-items" scrolling="yes">
            <div class="features-content">
                <div class="features__logo">
                    <svg class="icon icon__features">
                        <use xlink:href="#icon-features-rocket"></use>
                    </svg>
                </div>
                <h4 class="features__title">Легкий запуск<br> за 10 минут</h4>
                <p class="features__text">Компонент полностью настроен. 
                    Необходимо лишь загрузить свой контент
                    и сайт готов к запуску.</p>
            </div>

            <div class="features-content">
                <div class="features__logo">
                    <svg class="icon icon__features">
                        <use xlink:href="#icon-features-settings"></use>
                    </svg>
                </div>
                <h4 class="features__title">Гибкие настройки<br> под ваш бизнес</h4>
                <p class="features__text">Большое количество модулей
                    и интеграций позволяет создать
                    конкурентоспособный сайт, 
                    который может решать любые задачи.</p>
            </div>

            <div class="features-content">
                <div class="features__logo">
                    <svg class="icon icon__features">
                        <use xlink:href="#icon-features-support"></use>
                    </svg>
                </div>
                <h4 class="features__title">Техническая поддержка<br> от разработчиков</h4>
                <p class="features__text">Удаленно решаем любые вопросы,
                    связанные с работой компнента.</p>
            </div>
        </div>

    </div>
    
</div>