<footer class="footer">
    <div class="wrap">
        <div class="footer-up_desktop">

            <ul class="footer-info footer-logo hide--md">
                <div class="header__logo">
                    <img class="icon__logo" src="img/logo-icon.png" alt="">
                    <p class="name">Ksenmart</p>
                </div>
            </ul>

            <ul class="footer-info footer-conditions hide--md">
                <li class="footer-info__title">Каталог</li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        О нас
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Доставка
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Оплата
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Покупка в кредит
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Электронный каталог
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Акции
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Новости
                    </a>
                </li>
            </ul>

            <ul class="footer-info footer-goods hide--md">
                <li class="footer-info__title">Меню</li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        О нас
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Доставка
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Оплата
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Покупка в кредит
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Электронный каталог
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Акции
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Новости
                    </a>
                </li>
            </ul>

            <ul class="footer-info footer-names hide--md">
                <li class="footer-info__title">Магазин</li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        О нас
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Доставка
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Оплата
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Покупка в кредит
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Электронный каталог
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Акции
                    </a>
                </li>
                <li class="footer-info__unit">
                    <a href="javascript:;">
                        Новости
                    </a>
                </li>
            </ul>

            <ul class="footer-info footer-contacts">
                <li class="footer-info__title hide--md">Контакты</li>
        
                <li class="footer-info__unit footer-tel">
                    <div class="header__connection header__connection_footer">
                        
                        <a href="tel:8 (800) 700-43-43" class="header__phone header__phone_footer">8 (800) 700-43-43</a>  
                        <a href="javascript:;" class="header__feedback header__feedback_footer">Заказать обратный звонок</a>
                    </div>
                </li>

                <li class="footer-info__unit footer-email">
                    <a href="javascript:;">
                        
                        oplata@hilding-anders.ru
                    </a>
                </li>
                <li class="footer-info__unit footer-address">
                    <a href="javascript:;">
                        
                        г. Москва, ул. Тверская, д. 1
                    </a>
                </li>

                <li class="footer-info__unit footer-socs">
                    <div class="soc-links">
                        <a href="javascript:;">
                        </a>
                        
                    </div>
                </li>
            </ul>
        </div>

        <div class="footer-up_mobile">

            <div class="header__logo header__logo_footer">
                <img class="icon__logo" src="img/logo-icon.png" alt="">
                <p class="name">Ksenmart</p>
            </div>

            <div class="filter-availability">
                <div class="tab-footer tab">
                    <div class="tab-header tab-header_footer">
                        <div class="footer-info__title footer-info__title_mobile tab__title"><p>Меню</p></div>
                        <div class="collapse">
                            <a href="javascript:;" class="collapse-btn">
                                <span></span>
                            </a>
                        </div>
                    </div>
        
                    <div class="tab-content_footer tab-content">
                        <ul class="footer-info">
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    О нас
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Доставка
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Оплата
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Покупка в кредит
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Электронный каталог
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Акции
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Новости
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>

            <div class="filter-availability">
                <div class="tab-footer tab">
                    <div class="tab-header tab-header_footer">
                        <div class="footer-info__title footer-info__title_mobile tab__title_footer tab__title"><p>Каталог</p></div>
                        <div class="collapse">
                            <a href="javascript:;" class="collapse-btn">
                                <span></span>
                            </a>
                        </div>
                    </div>
        
                    <div class="tab-content_footer tab-content">
                        <ul class="footer-info">
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    О нас
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Доставка
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Оплата
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Покупка в кредит
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Электронный каталог
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Акции
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Новости
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        
            <div class="filter-model">
        
                <div class="tab-footer tab">
                    <div class="tab-header tab-header_footer">
                        <div class="footer-info__title footer-info__title_mobile tab__title_footer tab__title"><p>Магазинг</p></div>
                        <div class="collapse">
                            <a href="javascript:;" class="collapse-btn">
                                <span></span>
                            </a>
                        </div>
                    </div>
        
                    <div class="tab-content_footer tab-content">
                        <ul class="footer-info">
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    О нас
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Доставка
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Оплата
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Покупка в кредит
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Электронный каталог
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Акции
                                </a>
                            </li>
                            <li class="footer-info__unit">
                                <a href="javascript:;">
                                    Новости
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-down">
        <div class="wrap">
            <div class="footer-down__content">
                <p class="copyright">Copyright © 2017 - 2019<br> Все права защищены</p>
                <p class="author">Разработка отраслевых порталов<br>
                    в предприятии “Купи клиента”</p>
            </div>
        </div>
        
    </div>

    

</footer>
