<header class="header is-fixed bg-dark">
    <div class="wrap">
        <div class="header__inner">

            <div class="header__logo">
                <img class="icon__logo" src="img/logo-icon.png" alt="">
                <p class="name">Ksenmart</p>
            </div>



            <a href="javascript:;" class="header__region" title="" data-modal="#modal-location"> 
                <svg class="region-icon">
                    <use xlink:href="#icon-region-icon"></use>
                </svg>
                <span class="reg">Москва</span>
            </a>
        
            
            
            

            <div class="header__icon-telephone">
                <svg class="icon icon-telephone">
                    <use xlink:href="#icon-telephone"></use>
                </svg>
            </div>

            <div class="search-form search-form_indent">
                
                <button class="header__catalog-btn btn btn_mini btn_gradient">
                    <span class="burger">
                    </span>
                    <p>Каталог</p>
                </button>

                <form action="" class="search-form__content">
                    <input type="text" class="search-form__input search-form__input_dark" placeholder="Поиск..."> <!-- &#128269-->
                    <button class="search-form__btn search-form__btn_dark btn_gradient" type="submit">Найти</button>
                </form>
            </div>
            


            <div class="header__connection">
                <a href="tel:+7 (965) 332-20-61" class="header__phone">+7 (965) 332-20-61</a>  
                <a href="javascript:;" class="header__feedback">Вам позвонить?</a>
            </div>

            <div class="header__personal-activity">


                <button class="circle-btn circle-btn__person" type="button">
                    <!-- <img src="img/person.jpg" alt="" class="icon__person"> -->
                </button>

                <button class="circle-btn__liked circle-btn" type="button">
                    <svg class="icon icon__like">
                        <use xlink:href="#icon-like"></use>
                    </svg>
                </button>

                <button class="circle-btn circle-btn__basket" type="button">
                    <svg class="icon icon__basket">
                        <use xlink:href="#icon-basket"></use>
                    </svg>
                </button>

            </div>

        </div>
        <div class="header__bottom bg-dark">
            <a href="javascript:;" class="header__region_bottom header__region" title="" data-modal="#modal-location"> 
                <svg class="region-icon">
                    <use xlink:href="#icon-region-icon"></use>
                </svg>
                <span class="reg">Москва</span>
            </a>

            <a href="tel:+7 (965) 332-20-61" class="header__phone_bottom header__phone">+7 (965) 332-20-61</a>  
        </div>
    </div>
</header>