<header class="header2 header">
    <div class="wrap">
        <div class="header2__inner">

            <div class="header2-up bg-grey">
                <div class="up-list">
                    <a href="javascript:;" class="up-list__link">Кнопка</a>
                    <a href="javascript:;" class="up-list__link">Кнопка</a>
                    <a href="javascript:;" class="up-list__link">Кнопка</a>
                    <a href="javascript:;" class="up-list__link">Кнопка</a>
                    <a href="javascript:;" class="up-list__link">Кнопка</a>
                    <a href="javascript:;" class="up-list__link">Кнопка</a>
                </div>
            </div>

            <div class="header2-top">
                <div class="top-left">
                    <div class="top-left__logo">
                        <svg class="icon icon__logo2">
                            <use xlink:href="#icon-logo2"></use>
                        </svg>
                    </div>

                    <a href="javascript:;" class="top-left__region header__region" title="" data-modal="#modal_location">
                        <svg class="region-icon">
                            <use xlink:href="#icon-region-icon"></use>
                        </svg>
                        <span class="reg">Москва</span>
                    </a>
                </div>


                <div class="top-right">
                    <div class="top__connection header__connection">
                        <a href="tel:+7 (965) 332-20-61" class="header__phone header__phone_dark">+7 (965) 332-20-61</a>  
                        <a href="javascript:;" class="header__feedback">Вам позвонить?</a>
                    </div>

                    <div class="top__personal-activity header__personal-activity">
                        <button class="circle-btn circle-btn_light circle-btn__person" type="button">
                            <!-- <img src="img" alt="" class="icon__person"> -->
                        </button>

                        <button class="circle-btn circle-btn_light circle-btn__liked" type="button">
                            <!-- <svg class="icon__like">
                                <use xlink:href="#icon-like"></use>
                            </svg> -->
                        </button>

                        <button class="circle-btn circle-btn_light circle-btn__basket" type="button">
                            <!-- <svg class="icon__basket">
                                <use xlink:href="#icon-basket"></use>
                            </svg> -->
                        </button>
                    </div>
                </div>
            </div>

            <div class="header2-menu bg-dark">
                <div class="menu-content">

                    <button class="header__catalog-btn header__catalog-btn_orange btn btn_mini btn_gradient">
                        <span class="burger burger_position"></span>
                        Каталог
                    </button>

                    <div class="header2-tabs">
                        <a href="javascript:;" class="header2-tabs__element">Вкладка</a>
                        <a href="javascript:;" class="header2-tabs__element">Вкладка</a>
                        <a href="javascript:;" class="header2-tabs__element">Вкладка</a>
                        <a href="javascript:;" class="header2-tabs__element">Вкладка</a>
                    </div>

                    <div class="search-form">
                        <form action="" class="search-form__content">
                            <input type="text" class="search-form__input search-form__input_light" placeholder=" Поиск..."> <!-- &#128269-->
                            <button class="search-form__btn search-form__btn_light" type="submit">Найти</button>
                        </form>
                    </div>

                </div>
            </div>


        </div>
    </div>
</header>