<div class="kit">
    <div class="wrap">
                
        <h3 class=" intro-title">Экономь, покупая комплектом</h3>

        <div class="product-list product-slider">

            <div class="product-block 1">
                <div class="product-items">
                    <div class="product-items__top">
                        <svg class="icon__hot_kit icon icon__hot">
                            <use xlink:href="#icon-hot"></use>
                        </svg>
                        <img src="img/kit.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                    </div>
                    
                    <div class="product-items__information product-items__information_kit">
                        <p class="product-items__availability_mobile">&bull; В наличии</p>
                    </div>

                    <p class="product-items__information-title product-items__information-title_kit">Телевизор Витязь <span>50LU1207</span></p>

                    <div class="product-items__status product-items__status_kit">
                        <fieldset class="rating">
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                                <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>

                        <p class="product-items__availability">&bull; В наличии</p>
                    </div>
            
                    <div class="kit-price">
                        <p class="kit-price__text">Цена комплекта</p>
                        <div class="product-items__price">
                            <p class="product-items__new-price product-items__new-price_kit">456 980 ₽</p>
                            <p class="product-items__old-price_kit"><del>640 980 ₽</del></p>
                        </div>
                        
                    </div>

                    <div class="kit-saving">
                        <p class="kit-price__text">Вы сэкономите</p>
                        <p class="product-items__new-price product-items__new-price_kit-saving">100 980 ₽</p>
                    </div>                  

                    <div class="buyorlike_kit buyorlike">
                        <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                        <fieldset class="like">
                            <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                        </fieldset>
                        
                    </div>
                </div>
            </div>

            <div class="product-block 2">
                <div class="product-items">
                    <div class="product-items__top">
                        <svg class="icon__hot_kit icon icon__hot">
                            <use xlink:href="#icon-hot"></use>
                        </svg>
                        <img src="img/kit.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                    </div>
                    
                    <div class="product-items__information product-items__information_kit">
                        <p class="product-items__availability_mobile">&bull; В наличии</p>
                    </div>

                    <p class="product-items__information-title product-items__information-title_kit">Телевизор Витязь <span>50LU1207</span></p>

                    <div class="product-items__status product-items__status_kit">
                        <fieldset class="rating">
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                                <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>

                        <p class="product-items__availability">&bull; В наличии</p>
                    </div>
            
                    <div class="kit-price">
                        <p class="kit-price__text">Цена комплекта</p>
                        <div class="product-items__price">
                            <p class="product-items__new-price product-items__new-price_kit">456 980 ₽</p>
                            <p class="product-items__old-price_kit"><del>640 980 ₽</del></p>
                        </div>
                        
                    </div>

                    <div class="kit-saving">
                        <p class="kit-price__text">Вы сэкономите</p>
                        <p class="product-items__new-price product-items__new-price_kit-saving">100 980 ₽</p>
                    </div>                  

                    <div class="buyorlike_kit buyorlike">
                        <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                        <fieldset class="like">
                            <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                        </fieldset>
                        
                    </div>
                </div>
            </div>

            <div class="product-block 3">
                <div class="product-items">
                    <div class="product-items__top">
                        <svg class="icon__hot_kit icon icon__hot">
                            <use xlink:href="#icon-hot"></use>
                        </svg>
                        <img src="img/kit.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                    </div>
                    
                    <div class="product-items__information product-items__information_kit">
                        <p class="product-items__availability_mobile">&bull; В наличии</p>
                    </div>

                    <p class="product-items__information-title product-items__information-title_kit">Телевизор Витязь <span>50LU1207</span></p>

                    <div class="product-items__status product-items__status_kit">
                        <fieldset class="rating">
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                                <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>

                        <p class="product-items__availability">&bull; В наличии</p>
                    </div>
            
                    <div class="kit-price">
                        <p class="kit-price__text">Цена комплекта</p>
                        <div class="product-items__price">
                            <p class="product-items__new-price product-items__new-price_kit">456 980 ₽</p>
                            <p class="product-items__old-price_kit"><del>640 980 ₽</del></p>
                        </div>
                        
                    </div>

                    <div class="kit-saving">
                        <p class="kit-price__text">Вы сэкономите</p>
                        <p class="product-items__new-price product-items__new-price_kit-saving">100 980 ₽</p>
                    </div>                  

                    <div class="buyorlike_kit buyorlike">
                        <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                        <fieldset class="like">
                            <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                        </fieldset>
                        
                    </div>
                </div>
            </div>

            <div class="product-block 4">
                <div class="product-items">
                    <div class="product-items__top">
                        <svg class="icon__hot_kit icon icon__hot">
                            <use xlink:href="#icon-hot"></use>
                        </svg>
                        <img src="img/kit.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                    </div>
                    
                    <div class="product-items__information product-items__information_kit">
                        <p class="product-items__availability_mobile">&bull; В наличии</p>
                    </div>

                    <p class="product-items__information-title product-items__information-title_kit">Телевизор Витязь <span>50LU1207</span></p>

                    <div class="product-items__status product-items__status_kit">
                        <fieldset class="rating">
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                                <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>

                        <p class="product-items__availability">&bull; В наличии</p>
                    </div>
            
                    <div class="kit-price">
                        <p class="kit-price__text">Цена комплекта</p>
                        <div class="product-items__price">
                            <p class="product-items__new-price product-items__new-price_kit">456 980 ₽</p>
                            <p class="product-items__old-price_kit"><del>640 980 ₽</del></p>
                        </div>
                        
                    </div>

                    <div class="kit-saving">
                        <p class="kit-price__text">Вы сэкономите</p>
                        <p class="product-items__new-price product-items__new-price_kit-saving">100 980 ₽</p>
                    </div>                  

                    <div class="buyorlike_kit buyorlike">
                        <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                        <fieldset class="like">
                            <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                        </fieldset>
                        
                    </div>
                </div>
            </div>

            <div class="product-block 5">
                <div class="product-items">
                    <div class="product-items__top">
                        <svg class="icon__hot_kit icon icon__hot">
                            <use xlink:href="#icon-hot"></use>
                        </svg>
                        <img src="img/kit.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                    </div>
                    
                    <div class="product-items__information product-items__information_kit">
                        <p class="product-items__availability_mobile">&bull; В наличии</p>
                    </div>

                    <p class="product-items__information-title product-items__information-title_kit">Телевизор Витязь <span>50LU1207</span></p>

                    <div class="product-items__status product-items__status_kit">
                        <fieldset class="rating">
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                                <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>

                        <p class="product-items__availability">&bull; В наличии</p>
                    </div>
            
                    <div class="kit-price">
                        <p class="kit-price__text">Цена комплекта</p>
                        <div class="product-items__price">
                            <p class="product-items__new-price product-items__new-price_kit">456 980 ₽</p>
                            <p class="product-items__old-price_kit"><del>640 980 ₽</del></p>
                        </div>
                        
                    </div>

                    <div class="kit-saving">
                        <p class="kit-price__text">Вы сэкономите</p>
                        <p class="product-items__new-price product-items__new-price_kit-saving">100 980 ₽</p>
                    </div>                  

                    <div class="buyorlike_kit buyorlike">
                        <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                        <fieldset class="like">
                            <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                        </fieldset>
                        
                    </div>
                </div>
            </div>

            <div class="product-block 6">
                <div class="product-items">
                    <div class="product-items__top">
                        <svg class="icon__hot_kit icon icon__hot">
                            <use xlink:href="#icon-hot"></use>
                        </svg>
                        <img src="img/kit.png" alt="Телевизор Витязь 50LU1207" class="product-items__img">
                    </div>
                    
                    <div class="product-items__information product-items__information_kit">
                        <p class="product-items__availability_mobile">&bull; В наличии</p>
                    </div>

                    <p class="product-items__information-title product-items__information-title_kit">Телевизор Витязь <span>50LU1207</span></p>

                    <div class="product-items__status product-items__status_kit">
                        <fieldset class="rating">
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                                <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>

                        <p class="product-items__availability">&bull; В наличии</p>
                    </div>
            
                    <div class="kit-price">
                        <p class="kit-price__text">Цена комплекта</p>
                        <div class="product-items__price">
                            <p class="product-items__new-price product-items__new-price_kit">456 980 ₽</p>
                            <p class="product-items__old-price_kit"><del>640 980 ₽</del></p>
                        </div>
                        
                    </div>

                    <div class="kit-saving">
                        <p class="kit-price__text">Вы сэкономите</p>
                        <p class="product-items__new-price product-items__new-price_kit-saving">100 980 ₽</p>
                    </div>                  

                    <div class="buyorlike_kit buyorlike">
                        <button class="btn_AddToCart btn btn_gradient">В корзину</button>
                        <fieldset class="like">
                            <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
                        </fieldset>
                        
                    </div>
                </div>
            </div>

            
        </div>

        <div class="product-list-expend">
            <button class="btn_expend btn btn_gradient">Показать еще</button>
        </div>

    </div>

</div>