<div class="modal" id="modal-location">
  <div class="location">

    <div class="region sidebar-scroll">

      <div class="region-list region-head">        
        <p><a href="javascript:;">Все города</a></p>    
        <p><a href="javascript:;">Москва и МО</a></p>               
        <p><a href="javascript:;">Санкт-Петербург и ЛО</a></p>             
      </div>   
      


      <div class="region-list region-list_indent">         
        <p><a href="javascript:;"><span class="letter">А</span>Алтайский край</a></p>
        <p><a href="javascript:;">Архангельская область</a></p>
        <p><a href="javascript:;">Астраханская область </a></p>       
        <p><a href="javascript:;"><span class="letter">Б</span>Белгородская область</a></p>
        <p><a href="javascript:;">Брянская область</a></p>     
        <p><a href="javascript:;"><span class="letter">В</span>Владимирская область</a></p>
        <p><a href="javascript:;">Волгоградская область</a></p>
        <p><a href="javascript:;">Вологодская область</a></p>
        <p><a href="javascript:;">Воронежская область</a></p>
        <p><a href="javascript:;"><span class="letter">З</span>Забайкальский край</a></p>
        <p><a href="javascript:;"><span class="letter">И</span>Иркутская область </a></p>
        <p><a href="javascript:;"><span class="letter">К</span>Калужская область </a></p>
        <p><a href="javascript:;">Калужская область </a></p>
        <p><a href="javascript:;">Калужская область </a></p>
        <p><a href="javascript:;"><span class="letter">М</span>Московская область </a></p> 
      </div>
    </div>

    <div class="city sidebar-scroll">
      <div class="region-list">
        <p><a href="javascript:;"><span class="letter">А</span>Абаза</a></p>             
        <p><a href="javascript:;">Абинск </a></p>    
        <p><a href="javascript:;">Абаза</a></p>               
        <p><a href="javascript:;">Абакан</a></p>        
        <p><a href="javascript:;">Абинск </a></p>
        <p><a href="javascript:;">Абаза</a></p>
        <p><a href="javascript:;">Абакан</a></p>    
        <p><a href="javascript:;">Абаза</a></p>               
        <p><a href="javascript:;">Абакан</a></p>        
        <p><a href="javascript:;">Абинск </a></p>
        <p><a href="javascript:;">Абаза</a></p>
        <p><a href="javascript:;">Абакан</a></p>   
        <p><a href="javascript:;"><span class="letter">Б</span>Белгород</a></p>
        <p><a href="javascript:;">Брянск</a></p>
        <p><a href="javascript:;">Белгород</a></p>
        <p><a href="javascript:;">Брянск</a></p>
        <p><a href="javascript:;">Брянск</a></p>
        <p><a href="javascript:;">Белгород</a></p>
      </div>
    </div>

    <div class="location-content">
      <input class="search-form__input search-form__input_region" type="text" placeholder="Поиск...">
      <p class="location-content__text">От выбранного города зависят наличие товара, цены и способ получения
        заказа, а так же тип центров исполнения заказов – кибермаркеты
        и аутпосты
      </p>
    </div>

    <button class="modal__close" type="button" data-close="">
      <svg class="close-icon"> 
        <use xlink:href="#icon-x"></use>
      </svg>
    </button>

  </div>
</div>



