<a href="./prod-description.html" class="product-block 1">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

<a href="./prod-description.html" class="product-block 2">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

<a href="./prod-description.html" class="product-block 3">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

<a href="./prod-description.html" class="product-block 4">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

<a href="./prod-description.html" class="product-block 5">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

<a href="./prod-description.html" class="product-block 6">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

<a href="./prod-description.html" class="product-block 7">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

<a href="./prod-description.html" class="product-block 8">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

<a href="./prod-description.html" class="product-block 9">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

<a href="./prod-description.html" class="product-block 10">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

<a href="./prod-description.html" class="product-block 11">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

<a href="./prod-description.html" class="product-block 12">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

<a href="./prod-description.html" class="product-block 13">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

<a href="./prod-description.html" class="product-block 14">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

<a href="./prod-description.html" class="product-block 15">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

<a href="./prod-description.html" class="product-block 16">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

<a href="./prod-description.html" class="product-block 17">
    <div class="product-items">
        <div class="product-items__img">
            <img src="img/tv.png" alt="Телевизор Витязь 50LU1207">
            <div class="icon-sale-30"><span>-30</span>%</div>
        </div>
        <div class="product-items__information">
            <p class="product-items__availability_mobile">&bull; В наличии</p>
            <p class="product-items__information-title">Телевизор Витязь <span>50LU1207</span></p>
            <p class="product-items__information-annotation">Подстрочник максиму описание две строки подстрочник</p>
        </div>

        <div class="product-items__status">
            <fieldset class="rating">
                <div class="rating__group">
                    <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
                    <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
                    <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально" checked>
                    <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
                    <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
                </div>
            </fieldset>

            <p class="product-items__availability">&bull; В наличии</p>
        </div>

        <p class="product-items__old-price"><del>640 980 ₽</del></p>
        <p class="product-items__new-price">456 980 ₽</p>

        <div class="buyorlike">
            <button class="btn_AddToCart btn btn_gradient btn_basket">В корзину</button>
            <fieldset class="like">
                <input class="like__icon" type="checkbox"  value="1" aria-label="like">  
            </fieldset>
            
        </div>


    </div>
</a>

