<div class="stock">
    <div class="wrap">
        <div class="stock-list">

            <div class="stock-block stock-block_1">
                <div class="stock-content">
                    <p class="stock-content__date">Только в августе</p>
                    <h4 class="stock-content__information">Распродажа Техники<br>Apple Скидки До 70%</h4>
                    <button class="btn_to-shopping btn btn_gradient btn_stock"> Приступить к покупкам
                        <svg class="icon arrow-trans">
                            <use xlink:href="#icon-right-arrow-white"></use>
                        </svg>
                    </button> 
                </div>
            </div>

            <div class="stock-block stock-block_2">
                <div class="stock-content">
                    <p class="stock-content__date stock-content__date_orange">Только в августе</p>
                    <h4 class="stock-content__information">Соберите ребенка <br>в школу</h4>
                    <p class="stock-content__text">школьные товары <br> со скидкой 50%</p>
                </div>
            </div>
        </div>
    </div>
    

</div>