.catalog {

    margin-top: 11rem;
    /* padding: 0 9.7rem; */

    &__title {
        padding-left: 30px;
        margin-bottom: 4.8rem;
    }

    &-block {
        display: flex;
    }

    &-content {
        width: 74.59%;

        margin-bottom: 9rem;
    }
    
}

.custom-radio {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;

    &>label {
        margin-bottom: 2.2rem;
        line-height: 1.9rem;
    }
}
