.SOMEcategory {
    &-head {

        &__inf {

        }
    
        &__title {
    
        }
    
        &__number {
    
        }
    
        &__display {
    
        }

        &__sorting {

        }
    }

}

