.wrap {
    position: relative;
    max-width: 127rem; 
    margin: 0 auto;
    
    padding: 0 1.5rem;

    /* @media (--desktop-min) {
        max-width: 125.5rem; 
    } */

    @media (--mobile-sm) {
        width: 100%;
        padding: 0 1.3rem;
    }
}
    